<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBTd8hEzZxNivAWj2r9Pg2dFFSWgiRqeKs</string>
	<key>GCM_SENDER_ID</key>
	<string>730465762918</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.Vairoo</string>
	<key>PROJECT_ID</key>
	<string>vairoo-4a211</string>
	<key>STORAGE_BUCKET</key>
	<string>vairoo-4a211.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:730465762918:ios:99a50adef5f4a8175cb7a7</string>
</dict>
</plist>